In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('CM_emission_kton.csv')
df

             date                  sector country        co2
0        2019/1/1       Domestic Aviation  Brazil   0.023750
1        2019/1/1        Ground Transport  Brazil   0.201663
2        2019/1/1                Industry  Brazil   0.240156
3        2019/1/1  International Aviation  Brazil   0.018398
4        2019/1/1                   Power  Brazil   0.107724
...           ...                     ...     ...        ...
192748  2024/4/30  International Aviation   WORLD   1.611870
192749  2024/4/30  International Shipping   WORLD   1.915149
192750  2024/4/30                   Power   WORLD  33.285836
192751  2024/4/30             Residential   WORLD   7.137493
192752  2024/4/30                   Total   WORLD  91.687855

[192753 rows x 4 columns]

In [6]:
df.shape

(192753, 4)

In [10]:
unique_counts = df[['date','sector', 'country']].nunique()
print(unique_counts)

date       1947
sector        8
country      14
dtype: int64

In [12]:
country_index = df['country'].value_counts()
print(country_index)

country
WORLD             15576
Brazil            13629
EU27 & UK         13629
France            13629
Germany           13629
China             13629
India             13629
Italy             13629
ROW               13629
Japan             13629
Russia            13629
Spain             13629
United Kingdom    13629
United States     13629
Name: count, dtype: int64

In [13]:
sector_index = df['sector'].value_counts()
print(sector_index)

sector
Domestic Aviation         27258
Ground Transport          27258
Industry                  27258
International Aviation    27258
Power                     27258
Residential               27258
Total                     27258
International Shipping     1947
Name: count, dtype: int64